.add-staff-container form {
	margin-top: 2em;
}

.form.second {
	display: none;
	pointer-events: none;
}

.form.first.hide {
	display: none;
	pointer-events: none;
}

.form.first.hide ~ .form.second {
	display: block;
	pointer-events: all;
}
