.staff-level {
	display: flex;
	align-items: center;
}

.staff-level .indicator {
	width: 8px;
	height: 8px;
	border-radius: 50%;
	margin-right: 4px;
}

.indicator.admin {
	background-color: var(--primary-color);
}

.indicator.staff {
	background-color: var(--orange-color);
}

.view-profile-btn {
	font-size: 0.9rem;
	color: var(--primary-color);
}

.view-profile-btn:hover {
	text-decoration: underline;
}
