.staff-container {
	background-color: white;
	padding: 2em;
	max-width: 900px;
	border-radius: 10px;
	margin: auto;
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
}

body.dark .staff-container {
	background-color: var(--sidebar-bg);
}

.staff-container .header {
	display: flex;
	justify-content: space-between;
}

.left-header h2 {
	font-size: 1.5rem;
	font-weight: 600;
	margin-bottom: 1.5em;
	color: var(--black-color);
}

body.dark .left-header h2 {
	color: var(--white-color);
}

.left-header form {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #f4f4f4;
	height: 50px;
	width: 330px;
	padding: 0.6em 1.2em;
	border-radius: 6px;
}

body.dark .left-header form {
	background-color: var(--black-color);
}

.left-header form input {
	background-color: transparent;
	outline: 0;
	border: 0;
	width: 90%;
	font-size: 0.9rem;
	font-family: 'Figtree';
	color: var(--black-color);
}

body.dark .left-header form input {
	color: var(--white-color);
}

input::placeholder {
	font-family: 'Figtree';
	color: #989898;
}

.left-header form button {
	background-color: transparent;
	outline: 0;
	border: 0;
	display: flex;
	align-items: center;
}

.left-header form svg {
	height: 18px;
	width: 18px;
	position: relative;
	top: 1px;
}

.right-header {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: end;
}

.right-header .row-per-page {
	display: flex;
	align-items: center;
	color: var(--black-color);
}

body.dark .right-header .row-per-page {
	color: var(--white-color);
}

.row-per-page .page-selected {
	background-color: #f4f4f4;
	height: 40px;
	width: 60px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	border-radius: 5px;
	color: var(--black-color);
	margin-left: 0.5em;
	position: relative;
	cursor: pointer;
}

body.dark .row-per-page .page-selected {
	background-color: var(--black-color);
	color: var(--white-color);
}

.page-selected svg {
	height: 10px;
	width: 10px;
}

.page-selected svg :is(path, line, circle) {
	stroke: var(--black-color);
	stroke-width: 1px;
}

body.dark .page-selected svg :is(path, line, circle) {
	stroke: var(--white-color);
}

.right-header .add-staff-btn {
	background-color: var(--primary-color);
	height: 50px;
	width: 140px;
	border-radius: 6px;
	display: flex;
	font-size: 0.9rem;
	align-items: center;
	justify-content: center;
	color: var(--white-color);
	font-weight: 500;
}

.add-staff-btn:hover {
	box-shadow: 0 5px 10px rgba(var(--primary-color-opacity), 0.2);
}

.add-staff-btn svg {
	height: 24px;
	margin-right: 0.6em;
	width: 24px;
}

.add-staff-btn svg :is(path, line, rect) {
	stroke: var(--white-color) !important;
}

.list-of-page {
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0.4em 0.2em;
	z-index: 2;
	width: 60px;
	position: absolute;
	top: 50px;
	border-radius: 8px;
	opacity: 0;
	transform: scale(0);
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
	transition: all 0.3s ease;
	user-select: none;
}

body.dark .list-of-page {
	background-color: var(--black-color);
}

.list-of-page.show {
	opacity: 1;
	transform: scale(1);
	user-select: auto;
}

.list-of-page li {
	padding: 0.5em 0.8em;
	cursor: pointer;
	border-radius: 5px;
	width: 80%;
	height: 80%;
}

.list-of-page a {
	color: var(--black-color);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	background-color: transparent;
}

body.dark .list-of-page a {
	color: var(--white-color);
}

.list-of-page li:hover {
	background-color: var(--primary-color);
}

.list-of-page li:hover a {
	color: var(--white-color);
}

.list-of-page a:hover {
	background-color: transparent !important;
}

.data {
	margin-top: 3em;
}

.data table {
	width: 100%;
}

.data table th {
	text-align: left;
}

.data table {
	border-collapse: collapse;
}

.data table th {
	font-weight: 400;
	color: var(--gray-color-300);
	font-size: 0.8rem;
}

.data table td {
	font-size: 1rem;
	font-weight: 500;
	color: var(--black-color);
}

body.dark .data table td {
	color: var(--white-color);
}

.data table :is(tr, td, th) {
	padding: 0.6em;
}

.update-btn,
.delete-btn,
.detail-btn {
	display: inline-block;
	height: 24px;
	width: 24px;
}

.update-btn svg,
.delete-btn svg,
.detail-btn svg {
	height: 100%;
	width: 100%;
}

.detail-btn svg {
	height: 100%;
	width: 100%;
}

:is(.update-btn, .delete-btn, .detail-btn) svg :is(path, rect, line, circle) {
	stroke-width: 2px !important;
	stroke: var(--black-color);
}

.detail-btn svg :is(path, rect) {
	stroke-width: 4px !important;
}

.update-btn:hover svg :is(path, rect, line) {
	stroke: var(--primary-color) !important;
}

.delete-btn:hover svg :is(path, rect, line) {
	stroke: var(--red-color) !important;
}

.detail-btn:hover svg :is(path, rect, line) {
	stroke: var(--green-color) !important;
}

body.dark :is(.update-btn, .delete-btn, .detail-btn) svg :is(path, rect, line) {
	stroke: var(--white-color);
}

.cls-footer {
	display: flex;
	justify-content: space-between;
	margin-top: 4em;
}

.footer-left {
	color: var(--black-color);
	font-weight: 600;
	font-size: 0.9rem;
}

body.dark .footer-left {
	color: var(--white-color);
}

.footer-right .pagination {
	display: flex;
	height: 40px;
	gap: 5px;
	font-size: 0.9em;
}

.pagination :is(.prev-btn, .next-btn) {
	background-color: var(--primary-color);
	display: flex;
	align-items: center;
	justify-content: center;
	width: 80px;
	padding: 0.5em;
}

.prev-btn {
	border-radius: 20px 0 0 20px;
}

.next-btn {
	border-radius: 0 20px 20px 0;
}

.prev-btn a,
.next-btn a {
	color: var(--white-color);
	background-color: transparent !important;
}

.page-item {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	border-radius: 5px;
	border: 2px solid var(--primary-color);
	transition: all 0.3s ease;
}

.page-item.active a,
.page-item:hover:not(.dots) a {
	background-color: var(--primary-color) !important;
}

.page-item.active a,
.page-item:hover:not(.dots) a {
	color: var(--white-color);
}

.page-item a {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	font-weight: 500;
	color: var(--primary-color);
}

.page-item.dots {
	width: 20px;
	align-self: end;
	border: 2px solid transparent;
	color: var(--primary-color);
}

/* View Add Styling */
.add-staff-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.add-staff-container .meta {
	text-align: center;
	margin: 0.5em auto 1em;
}

.meta-title {
	color: var(--black-color);
	font-weight: 700;
	margin-bottom: 0.2em;
}

.meta-description {
	color: var(--gray-color-300);
}

body.dark :is(.meta-title) {
	color: var(--white-color);
}

.add-staff-container form {
	display: flex;
	flex-direction: column;
	margin-top: 2em;
}

.form.second {
	display: none;
	pointer-events: none;
}

.form.first.hide {
	display: none;
	pointer-events: none;
}

.form.first.hide ~ .form.second {
	display: block;
	pointer-events: all;
}

.input-group {
	display: flex;
	width: 650px;
	flex-direction: column;
	margin-bottom: 2.5em;
	position: relative;
}

.input-group.prev-submit-btn {
	display: flex;
	flex-direction: row;
	gap: 10px;
}

.input-group label {
	color: var(--black-color);
	font-weight: 500;
	font-size: 0.9rem;
	margin-bottom: 0.4em;
}

body.dark .input-group label {
	color: var(--white-color);
}

.input-group :is(input, select, textarea) {
	font-size: 0.9rem;
	border: none;
	outline: 0;
	color: var(--black-color);
	border-bottom: 1px solid var(--gray-color-100);
	padding: 0.8em 0;
	background-color: transparent;
}

.input-group input[type='date']::-webkit-calendar-picker-indicator {
	position: absolute;
	right: -5px;
	opacity: 0;
	z-index: 10;
	height: 26px;
	width: 26px;
	cursor: pointer;
}

.input-group input[type='date'] ~ svg {
	pointer-events: none;
	height: 20px;
	width: 20px;
	position: absolute;
	right: 0;
}

.input-group input[type='date'] ~ svg :is(rect, path) {
	stroke: var(--black-color);
}

body.dark .input-group input[type='date'] ~ svg :is(rect, path) {
	stroke: var(--white-color);
}

.input-group:not(:last-child) :is(img, svg) {
	width: 20px;
	position: absolute;
	right: 0;
	bottom: 14px;
	cursor: pointer;
}

.input-group:not(:last-child) :is(.password, .confirm-password) ~ :is(img).error-icon {
	right: 28px;
	bottom: 12px;
}

.input-group :is(img).error-icon {
	display: none;
}

.input-group .message {
	position: absolute;
	bottom: -22px;
	left: 0;
	font-size: 0.8rem;
	color: var(--red-color);
	display: none;
}

.input-group .input.error {
	border-bottom: 2px solid var(--red-color);
}

.input-group .input.error ~ :is(img).error-icon {
	display: inline-block;
}

.input-group .input.error ~ .message {
	display: block;
}

body.dark .input-group :is(input, select, textarea) {
	color: var(--white-color);
	background-color: transparent;
}

body.dark .input-group select option {
	color: var(--white-color);
	background-color: var(--sidebar-bg);
}

.input-group :is(input, select):focus {
	border-bottom: 2px solid var(--primary-color);
}

.input-group button {
	background-color: var(--primary-color);
	border: 0;
	outline: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	height: 50px;
	width: 200px;
	border-radius: 6px;
}

.input-group button span {
	margin-right: 0.8em;
	color: var(--white-color);
	font-weight: 500;
	font-size: 0.9rem;
}

.input-group button svg {
	height: 20px;
	width: 20px;
}

.prev-btn svg {
	transform: rotate(180deg);
	margin-right: 0.9em;
}

.input-group button svg :is(path, rect) {
	stroke: var(--white-color);
}

.input-group button:hover {
	filter: drop-shadow(0 10px 10px rgba(var(--primary-color-opacity), 0.2));
}

.add-staff-container .flasher-container {
	width: 650px;
}

.flasher-container > * {
	width: 100%;
}

.staff-container .flasher-container > * {
	margin-bottom: 1.4em;
}

.empty-message {
	color: var(--gray-color-300);
	font-size: 0.9rem;
	text-align: center;
}

/* body.dark .empty-message {
	color: var(--white-color);
} */
