.login-container {
	min-height: 100vh;
	display: flex;
}

.left-panel {
	flex: 0.8;
	background-color: #ecf4ff;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100%;
}

body.dark .left-panel {
	background-color: var(--sidebar-bg);
}

.left-panel img {
	width: 80%;
}

.right-panel {
	flex: 1.2;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0 3em;
}

body.dark .right-panel {
	background-color: var(--black-color);
}

.meta {
	text-align: center;
}

.meta-title {
	color: var(--black-color);
	font-weight: 700;
	font-size: var(--heading-1);
}

body.dark .meta-title {
	color: var(--white-color);
}

.meta-title span {
	color: var(--primary-color);
}

.meta-description {
	color: var(--gray-color-200);
	margin-top: 0.5em;
	margin-bottom: 1rem;
}

form {
	display: flex;
	flex-direction: column;
	margin-top: 2em !important;
	width: 70%;
}

#student-form {
	display: none;
}

.form-group {
	margin-bottom: 2.5em;
	display: flex;
	flex-direction: column;
	position: relative;
}

.form-group label {
	font-weight: 500;
	color: var(--black-color);
	margin-bottom: 0.5em;
}

body.dark .form-group label {
	color: var(--white-color);
}

.form-group input {
	font-family: 'Figtree';
	font-size: 0.9rem;
	border: none;
	outline: 0;
	color: var(--black-color);
	border-bottom: 1px solid var(--gray-color-100);
	padding: 0.8em 0;
	background-color: transparent;
}

body.dark .form-group input {
	color: var(--white-color);
}

.form-group input:focus {
	border-bottom: 2px solid var(--primary-color);
}

.form-group input::placeholder {
	font-family: 'Figtree';
	font-size: 0.9rem;
	color: var(--gray-color-200);
}

.form-group img {
	width: 25px;
	position: absolute;
	right: 0;
	bottom: 35px;
	cursor: pointer;
}

.primary-btn {
	background-color: var(--primary-color);
	border: none;
	outline: none;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 60px;
	font-size: 1rem;
	border-radius: 30px;
	font-weight: 500;
	transition: 0.3s ease-in-out;
}

.primary-btn:is(:hover, :focus) {
	cursor: pointer;
	filter: drop-shadow(0 10px 10px rgba(var(--primary-color-opacity), 0.2));
}

.primary-btn img {
	width: 30px;
	margin-right: 0.8em;
}

.primary-btn svg {
	width: 24px;
	margin-left: 10px;
}

.save-changes svg {
	width: 18px;
}

.primary-btn svg :is(path, line, rect, circle) {
	stroke: var(--white-color) !important;
	stroke-width: 2px;
}

.option-divider {
	width: 70%;
	margin: 3em 0 1.5em;
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: var(--black-color);
	font-weight: 500;
}

body.dark .option-divider {
	color: var(--white-color);
}

.option-divider hr {
	background-color: var(--gray-color-100);
	width: 45%;
	height: 1px;
	border: 1px;
}

#switcher-btn {
	font-family: 'Figtree';
	color: var(--primary-color);
	width: 70%;
	border: 1px solid var(--primary-color);
	background-color: transparent;
	outline: none;
	font-weight: 300;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 60px;
	font-size: 1rem;
	border-radius: 30px;
	font-weight: 400;
	transition: 0.3s ease-in-out;
}

#switcher-btn:is(:hover, :focus) {
	cursor: pointer;
	background-color: var(--primary-color);
	filter: drop-shadow(0 10px 10px rgba(var(--primary-color-opacity), 0.2));
	color: white;
}

.input-group {
	width: 100% !important;
}

.reset-password-message {
	margin-top: 0.5em;
	color: var(--black-color);
}

body.dark .reset-password-message {
	color: var(--white-color);
}

.reset-password-message a {
	color: var(--primary-color);
	text-decoration: underline;
}

.action-buttons {
	display: flex;
	width: 100%;
	gap: 20px;
}

.action-buttons > * {
	display: flex;
	width: 100%;
	height: 50px;
}

.action-buttons a {
	background-color: transparent;
	color: var(--primary-color);
	border: 1px solid var(--primary-color);
}

.action-buttons a:hover,
.action-buttons a:focus {
	background-color: var(--primary-color);
	color: white;
}

@media screen and (max-width: 1440px) {
	form {
		margin-top: 3em;
	}

	.option-divider {
		margin: 1.5em 0 1.5em;
	}

	button:is(.primary-btn, #switcher-btn) {
		height: 50px;
	}

	.right-panel {
		padding: 3em;
	}
}
