@font-face {
	font-family: 'Figtree';
	src: url('../fonts/Figtree-VariableFont_wght.ttf') format('truetype');
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	border-bottom: 2px solid var(--primary-color);
	-webkit-text-fill-color: var(--black-color);
	-webkit-box-shadow: 0 0 0px 1000px transparent inset;
	transition: background-color 5000s ease-in-out 0s;
}

body.dark input:-webkit-autofill,
body.dark input:-webkit-autofill:hover,
body.dark input:-webkit-autofill:focus,
body.dark textarea:-webkit-autofill,
body.dark textarea:-webkit-autofill:hover,
body.dark textarea:-webkit-autofill:focus,
body.dark select:-webkit-autofill,
body.dark select:-webkit-autofill:hover,
body.dark select:-webkit-autofill:focus {
	-webkit-text-fill-color: var(--white-color);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Figtree';
}

:is(ul, ol) {
	list-style: none;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

:root {
	font-size: 18px;
	box-sizing: border-box;

	/* Color Variables */
	--primary-color: #5297ff;
	--primary-color-opacity: 82, 151, 255;
	--black-color: #09121f;
	--sidebar-bg: #fff;
	--white-color: rgb(241, 241, 241);
	--gray-color-100: #cacaca;
	--gray-color-200: rgb(203, 201, 201);
	--gray-color-300: #989898;
	--blue-color-100: rgb(247, 251, 255);
	--blue-color-opacity: 247, 251, 255;
	--green-color: #3eff74;
	--green-color-opacity: 62, 255, 116;
	--orange-color: #ff833d;
	--red-color: #ff3f3f;
	--yellow-color: #ffeb3f;
	--teal-color: #3fffe8;
	

	/* Heading Variables */
	--heading-1: 1.8rem;
	--heading-2: 1.6rem;
	--heading-3: 1.4rem;
	--heading-4: 1.2rem;
	--heading-5: 1rem;
	--heading-6: 0.8rem;
	--heading-1-sm: 1.568rem;

	/* Body Variables */
	--body-1: 1.1rem;
	--body-2: 1rem;
	--body-3: 0.8rem;
}

body {
	min-height: 100vh;
	background-color: rgb(248, 248, 248);
}

body.dark {
	--black-color: rgb(18, 27, 45);
	--black-opacity: 18, 27, 45;
	--sidebar-bg: rgb(26, 39, 60);

	background-color: var(--black-color);
}

::-webkit-scrollbar {
	width: 0;
}

hr {
	height: 1px;
	border: 1px;
	background-color: var(--gray-color-100);
}

body.dark hr {
	background-color: var(--gray-color-300);
}

svg :is(rect, path, line) {
	stroke: var(--gray-color-200);
	stroke-width: 2px;
}

body.dark svg :is(rect, path, line) {
	stroke: var(--gray-color-300);
	stroke-width: 2px;
}

.tooltip {
	visibility: hidden;
	width: 120px;
	height: 40px;
	background-color: #555;
	color: #fff;
	text-align: center;
	padding: 5px 0;
	border-radius: 6px;
	font-size: 0.8rem;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -60px;
	opacity: 0;
	transition: opacity 0.3s;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

*:hover > .tooltip {
	visibility: visible;
	opacity: 1;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type='number'] {
	appearance: textfield;
	-moz-appearance: textfield;
}

.toggled-column {
	overflow-x: hidden;
	white-space: nowrap;
	text-overflow: ellipsis !important;
	max-width: 200px !important;
	position: relative;
}

tr:hover .toggled-column {
	white-space: normal;
}

input::-ms-reveal,
input::-ms-clear {
	display: none;
}
