.top-bar {
	position: sticky;
	top: 0;
	left: 300px;
	display: flex;
	width: calc(100% - 300px);
	justify-content: space-between;
	align-items: center;
	padding: 10px 1.5em;
	transition: 0.3s all ease;
	z-index: 10;
	cursor: pointer;
	background-color: var(--blue-color-100);
}

.sidebar-toggle {
	height: 46px;
	width: 46px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	background-color: white;
	padding: 0.8em;
	border-radius: 50%;
	filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.05));
}

body.dark .sidebar-toggle {
	background-color: var(--sidebar-bg);
	filter: drop-shadow(0px 0px 0px rgba(255, 255, 255, 0.01));
}

.sidebar-toggle:hover {
	filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.12));
}

.sidebar-toggle span {
	height: 3px;
	border-radius: 4px;
	background-color: var(--black-color);
}

body.dark .sidebar-toggle span {
	background-color: var(--gray-color-200);
}

body.dark .top-bar {
	background-color: var(--black-color);
}

.sidebar.close ~ .top-bar {
	left: 107px;
	width: calc(100% - 107px);
}

.notification-profile {
	display: flex;
	width: 60px;
	align-items: center;
	justify-content: space-between;
}

.notification {
	position: relative;
}

.notification-profile svg {
	height: 30px;
	width: 28px;
}

.notification-profile svg.profile-toggle {
	width: 14px;
}

.notification span {
	position: absolute;
	top: -2px;
	right: 0;
	display: flex;
	height: 16px;
	justify-content: center;
	align-items: center;
	width: 16px;
	color: var(--white-color);
	font-size: 0.5rem;
	font-weight: 500;
	border-radius: 50%;
	background-color: var(--primary-color);
}

.notification-profile hr {
	height: 1px;
	width: 15px;
	background-color: var(--black-color);
	transform: rotate(90deg);
	border-top: 1px solid var(--black-color);
}

body.dark .notification-profile hr {
	background-color: var(--white-color);
	border-top: 1px solid var(--white-color);
}

.notification-profile svg :is(path) {
	stroke: var(--black-color);
	stroke-width: 1px;
}

body.dark .notification-profile svg :is(path) {
	stroke: var(--white-color);
}
