body {
	background-color: white !important;
}

.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin-top: 3em;
}

.header .meta-title{
	color: var(--black-color) !important;
	font-size: 1.5rem;
	font-weight: 500;
	margin-bottom: 0.3em;
}

.meta-description {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-bottom: 1.4em;
}

.meta-description hr {
	width: 1px;
	height: 20px;
	background-color: var(--black-color);
}

.meta-description .desc-1 {
	color: var(--black-color) !important;
	font-size: 1.2rem;
	font-weight: 300;
}

.meta-description .desc-2 {
	color: var(--black-color) !important;
	font-size: 1.2rem;
	font-weight: 300;
}

.brand .title-logo {
	display: flex;
	align-items: center;
	margin-bottom: 1.2em;
	padding: 0 0.7em;
}

.brand img {
	margin-right: 0.4em;
	width: 70px;
}

.brand .brand-name {
	font-size: 2.2rem;
	font-weight: 600;
	color: var(--black-color) !important;
	display: block;
}

.container {
	max-width: 1020px;
	margin: auto;
}

table {
	width: 800px;
	margin: auto;
	color: var(--black-color);
}

table,
tr,
td, th {
	border-collapse: collapse;
	border: 1px solid var(--gray-color-100);
}

td, th {
	padding: 0.8em 1em;
}

table.class td {
	font-size: 0.9rem;
}
.bills-total {
	font-weight: bold;
}

.buttons {
	display: flex;
	justify-content: center;
	margin-top: 2em;
	gap: 20px;
	margin-bottom: 4em;
}

.buttons :is(a, button) {
	border: 0;
	outline: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	height: 50px;
	width: 250px;
	border-radius: 30px;
	font-size: 1rem;
}

.buttons a {
	background-color: transparent;
	border: 1px solid var(--primary-color);
	color: var(--primary-color);
}

.buttons a:hover {
	background-color: var(--primary-color);
	color: var(--white-color);
}

.buttons button {
	background-color: var(--primary-color);
	color: var(--white-color);
}

.buttons button:is(:hover, :focus) {
	filter: drop-shadow(0 10px 10px rgba(var(--primary-color-opacity), 0.2));
}

svg {
	width: 24px;
	margin-left: 10px;
	fill: var(--white-color);
}

@media print {
	.buttons {
		display: none;
	}
}
