.report-container {
	display: flex;
	justify-content: center;
	gap: 20px;
}

.report-item {
	width: 300px;
	background-color: var(--sidebar-bg);
	filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.05));
	border-radius: 10px;
	padding: 3em 1.2em;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.report-item .icon {
	height: 100px;
	width: 100px;
	border-radius: 50%;
	margin-bottom: 2em;
	display: flex;
	align-items: center;
	justify-content: center;
}

.report-item .icon :is(img, svg) {
	height: 50px;
}

.report-item .icon.student {
	background-color: var(--primary-color);
}

.report-item .icon.class {
	background-color: var(--green-color);
}

.report-item .icon.term {
	background-color: var(--orange-color);
}

.report-item small {
	color: var(--gray-color-300);
	font-weight: 400;
	font-size: 0.8rem;
	margin-bottom: 0.3em;
	text-transform: uppercase;
}

.report-item h2 {
	color: var(--black-color);
	margin-bottom: 1em;
	font-size: var(--heading-3);
	font-weight: 700;
}

body.dark .report-item h2 {
	color: var(--white-color);
}

.report-item a {
	display: flex;
	width: 80%;
	height: 50px;
	border-radius: 50px;
	font-size: 0.9rem;
	justify-content: center;
	align-items: center;
}

.report-item a.student {
	border: 1px solid var(--primary-color);
	color: var(--primary-color);
}

.report-item a.student:hover {
	background-color: var(--primary-color);
	color: var(--white-color);
}

.report-item a.class {
	border: 1px solid var(--green-color);
	color: var(--green-color);
}

.report-item a.class:hover {
	background-color: var(--green-color);
	color: var(--white-color);
}

.report-item a.term {
	border: 1px solid var(--orange-color);
	color: var(--orange-color);
}

.report-item a.term:hover {
	background-color: var(--orange-color);
	color: var(--white-color);
}
